body{
	background-color: rgb(0, 0, 0);
	font-family: roboto;
	text-align: left;
	color: rgb(255, 255, 255);
}
h1{
	font-family: 'Times New Roman', Times, serif;
	font-size: 50px;
	text-align: center;
}
h4{
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-align: center;
}

.ketengah{
	margin: 10px auto;
	width: 100%;
}
 
h2{
	font-family: sans-serif;
	font-size: 35px;
	text-align: start;
}
 
p{
	font-family: 'Times New Roman', Times, serif;
	font-size: 25px;
	text-align: justify;
}
.charts {
	background-color: azure;
}
.contoh-link,
.contoh-link:link,
.contoh-link:active,
.contoh-link:visited{
	font-size: 20pt;
	background: #1ABC9C;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-family: sans-serif;	
}
 
.contoh-link:hover{
	background: #16A085;
}